body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
  }

  h2{
      color: aliceblue;
      display: block;
  }

  canvas {
    position: absolute;
  }